<a [routerLink]="['/']">
  <h1>My Store</h1>
</a>
<p>
  <a [routerLink]="['/book']"><span>Book</span></a>
  <br />
  <a [routerLink]="['/pen']"><span>Pen</span></a>
</p>
<p>
  <a [routerLink]="['/geometry']"><span>Geometry</span></a>
  <br />
  <a [routerLink]="['/paper']"><span>Paper</span></a>
</p>
<p>
  <a [routerLink]="['/products']"><span>Products</span></a>
  <br />
  <a [routerLink]="['/products']"><span>Products</span></a>
</p>

<a class="button fancy-button"
  ><i class="material-icons">shopping_cart</i>Checkout</a
>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
